{{ attach_library('clipboardjs/drupal') }}
<input id="{{ id }}" class="clipboardjs" value="{{ text }}" readonly="readonly" /><button class="clipboardjs-button" data-clipboard-alert="{{ alert_style }}" data-clipboard-alert-text="{{ alert_text }}" data-clipboard-target="#{{ id }}">
  <img src="{{ module_path }}/images/clippy.svg" alt="{{ label }}" height="{{ height }}" width="{{ width }}" />
</button>
